*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	width: 90%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.page-header{
	background-color: #ffffff;
	border-bottom: 3px solid #87A922;
}

.header-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}

.header-logo img{
	height: 100px;
}

.pages{
	font-family: "Roboto", sans-serif;
  	font-weight: 500;
  	font-style: normal;
  	font-size: 20px;
	list-style: none;
	display: flex;
	gap: 40px;
}

.pages a{
	color: #114232;
	text-decoration: none;
}

.header-icon{
	font-family: "Roboto", sans-serif;
  	font-weight: 500;
  	font-style: normal;
  	font-size: 20px;
	display: flex;
	gap: 40px;
}

.header-icon a{
	color: #114232;
	text-decoration: none;
}

.hero-banner{
	padding: 180px 0;
	background-image: url(hero-banner-image.jpg);
	background-size: cover;
	background-position: center;
	text-align: left;
}

.hero-banner h2{
	font-family: "Roboto", sans-serif;
  	font-weight: 500;
  	font-style: normal;
  	font-size: 80px;
  	color: #ffffff;
  	text-shadow: 2px 2px 4px #114232;
  	margin-bottom: 30px;
  	line-height: 50px;
}

.hero-banner h3{
	font-family: "Roboto", sans-serif;
  	font-weight: 500;
  	font-style: normal;
  	font-size: 70px;
  	color: #87A922;
  	margin-bottom: 30px;
  	line-height: 50px;
}

.hero-banner ul{
  	font-size: 17px;
  	font-weight: 400;
  	color: #114232;
  	line-height: 27px;
  	margin-bottom: 30px;
  	list-style-type: none;
}

.hero-banner ul li:before{
	content: '✓ ';
}

.hero-banner-btn{
	background-color: #FF9800;
	color: #ffffff;
	font-family: "Roboto", sans-serif;
  	font-weight: 400;
  	font-style: normal;
  	font-size: 15px;
  	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	border-radius: 20px;
	padding: 12px 17px;
	transition: .5s;
}

.hero-banner-btn:hover{
	background: #87A922;
}

/* Sara's parts */
.parent-flex{
	display:flex;
	gap:70px;
}
.left-side{
	width: 50%;
}

.right-side{
	width: 50%;
	background-image:url("healthy.jpg"); 
	background-size: cover;
	background-position: right;
}
	
.btn{
	background-color: #90a955;
	color: #fff;
	padding: 14px 28px;
	text-decoration: none;
	display: inline-block;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 500;
	margin-top: 17px;
	margin-bottom: 20px;
}
.btn:hover{
	background: #fff;
	color: #000;
}
.lisa-banner2{
	text-align: center;
	padding: 70px 0;
}

.lisa-banner2 h2{
	font-size: 40px;
	margin-bottom:30px;
	font-weight: 700;
	color:#4f772d;
} 
.lisa-banner2 h4{
	font-size: 23px;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 30px;
	color:#31572c;
}
.lisa-banner2 p{
	font-size: 20px;
	margin-bottom:30px;
	font-weight: 700;
	color:#31572c;
	line-height: 28px;
}
.insc{
	border: 4px solid green;
	background-image: url("vege1.jpeg");
	background-position: center;
	padding: 90px 0;
	text-align: center;
}
.insc input{
	margin-bottom: 15px;
}

.insc h2{
	font-size: 35px;
	margin-bottom: 30px;
	color: #fff;
}
.insc form{
	font-size: 20px;
	font-weight: 500;
}
.insc label{
	display: block;
}

/* Sara's parts */

.page-footer{
	background: #EEF0E5;
	padding: 100px 0;
	text-align: center;
}

.page-footer h2{
	font-family: "Roboto", sans-serif;
  	font-weight: 500;
  	font-style: normal;
  	font-size: 40px;
  	color: #114232;
  	margin-bottom: 20px;
}

.page-footer h3{
	font-family: "Roboto", sans-serif;
  	font-weight: 500;
  	font-style: normal;
  	font-size: 17px;
  	color: #114232;
  	margin-bottom: 30px;
}

input{
	font-family: "Roboto", sans-serif;
  	font-weight: 500;
  	font-style: normal;
  	font-size: 15px;
  	color: #114232;
  	border: 2px solid gray;
	border-radius: 15px;
	margin-bottom: 20px;
	padding: 10px;
}

.page-footer img{
	margin-bottom: 20px;
	width: 30px;
}

.page-footer p{
	font-family: "Roboto", sans-serif; 	
  	font-style: normal;
	font-weight: 400;
  	font-size: 15px;
  	color: #114232;
}